.project-showcase {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.project-detail {
  flex: 3;
  text-align: left;
  align-items: left !important;
}

.project-header * {
  text-align: left;
  align-self: flex-start;
  color: #0056b3;
}

.project-detail * img {
  width: 320px;
  max-height: 240px;
  z-index: 1;
}

.project-detail * span {
  margin-left: 4px;
  z-index: 3;
}
.thumb {
  display: block;
  padding: 24px;
}

/* menambahkan shade pada gambar, sehingga text didepannya lebih mudah dibaca */
.thumb::after {
  z-index: 2;
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65) 50%,
    rgba(255, 0, 0, 0) 100%
  );
}

.recent-projects {
  flex: 1;
}

.category-filter {
  margin-bottom: 10px;
}

.project-card {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.project-card:hover {
  background-color: #f0f0f0;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.pagination button {
  border: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0 2px;
  cursor: pointer;
}

/* .pagination .active {
  background-color: #007bff;
  color: white;
} */

/* .pagination button:hover {
  background-color: #0056b3;
  color: white;
} */
