@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(assets/); */

@font-face {
  font-family: "Poppins";
  @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
  font-style: normal;
  /* font-weight: normal; */
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/IBMPlexSans-Bold.ttf") format("ttf");
  font-style: normal;
  /* font-weight: normal; */
}

@font-face {
  font-family: "League Spartan";
  src: url("../public/LeagueSpartan-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #3a3f47;
  --accent-color: #4fcca3;
  --text-color: #eeeeee;
  --1: #2c2d30;
  --2: #5f6168;

  --bg-primer: #232c35;
  --bg-sekunder: #1f282d;
  --teks-primer: #d1d4d9;
  --teks-sekunder: #808388;

  font-family: "Poppins", sans-serif;
  line-height: 1.2;
  font-weight: 500;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;

  background-color: var(--bg-primer);
  color: var(--teks-primer);
  border-color: var(--bg-sekunder) !important;
  outline-color: var(--bg-sekunder);
}

h1 {
  text-align: center;
  font-size: 1.3em;
}
h2,
h3,
h4,
h5 {
  color: #8a8d6a;
  /* margin-block: 0.5em; */
}

h2 {
  font-size: 1.5em;
}

h5 {
  @apply text-sm md:text-base;
}

ol {
  list-style: decimal;
  margin-left: 1em;
}

a {
  word-wrap: break-word;
}

.btn {
  /* background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #1cbabe 117.04%
  ); */
  border: #033738 2px solid;
  background-color: #000000;
}
.social:hover,
.btn:hover,
.active:hover {
  background-color: #1cbabe;
}

.active {
  border-radius: 4px;
  background-color: #074764;
  color: aliceblue;
}
/* bottom navbar(mobile view) */
.navbar .active {
  /* clip-path: polygon(0px 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%); */
  border: #fff 1px;
  /* border-style: dashed; */
  border-radius: 0%;
}

a {
  color: var(--teks-sekunder);
  font-weight: 500;
}

.polygons {
  clip-path: polygon(35px 0%, 0% 100%, 100% 100%, 100% 0%);
}

.bg-gradient {
  background: linear-gradient(
    92.23deg,
    #2b0329 21.43%,
    #320444 50.63%,
    #074764 100%,
    #033738 117.04%
  );
}

.bg-dark-primary {
  background-color: #202020;
  color: aliceblue;
}
.text-hero {
  font-size: 5vw;
  font-weight: bold;
}
.bg-dark-secondary {
  background-color: #171717;
}

.section {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  @apply py-8  px-2 min-h-fit flex shadow-slate-950 shadow-inner;
}

.section-title {
  font-size: xx-large;
  font-weight: 700 !important;
  color: var(--primary-color);
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  align-self: center;
  /* border-radius: 60% 40% 60% 40%; */
  background-color: #c89b6f;
  color: var(--primary-color);
  /* @apply shadow-inner shadow-slate-950; */

  /* border, 
  /* shadow dalam, 
  /* shadow luar */
  box-shadow: 4px 4px 0px 2px #eceae8 inset, -4px -4px 0px 2px #e6e7ec inset,
    6px 6px 4px 1px #160e05 inset, -6px -6px 4px 1px #161929 inset,
    0px 2px 4px 0px #201101, 0px 2px 4px 0px #020617;
  /* 
  font-size: xx-large;
  color: #fafafa;
  padding: 0.5rem;
  border-radius: 0px 0.5rem;
  border: #fafafa 6px ridge;

  background-color: var(--bg-sekunder); */
}
/* .section-title::before,
.section-title::after {
  content: ".";
  color: transparent;
  border-radius: 18px 180px;
} */
/* .section-title::before {
  border-left: rgba(216, 209, 209, 0.253) 1px solid;
}
.section-title::after {
  border-right: #aaa 1px solid;
} */

.grid-wrapper {
  grid-template-areas:
    "sd sd sd"
    "main main main"
    "ft ft ft";
}

@media only screen and (min-width: 768px) {
  .grid-wrapper {
    grid-template-areas:
      "sd main main"
      "sd ft ft";
  }
}

.grid-1 {
  grid-area: sd;
}

.grid-2 {
  grid-area: main;
}

.grid-3 {
  grid-area: ft;
  align-self: self-end;
}
.page-number {
  display: flex;
  position: absolute;
  top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  right: 1rem;
  font-size: 4rem;
  background-color: #171717;
  border: 5px solid dimgray;
  color: dimgrey;
}

.text-gradient {
  background: radial-gradient(
      circle farthest-corner at center center,
      white,
      #837e7e
    )
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background-clip-text {
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  background-clip: text;
  font-weight: bolder;
  color: red;
  /* text-shadow: 1px 1px 1px gainsboro; */
  -webkit-text-stroke: 1px rgb(201, 188, 188);
}

.bg-wave {
  max-width: 100%;
  min-width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='100%' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.portfolio-items {
  margin-top: 1.75rem;
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 40px;
  padding-left: 1.75rem;
  border-radius: 15px;
  outline: #323232 solid 1px;
  /* background: var(--secondary-color); */
  /* color: var(--accent-color); */
  box-shadow: 2px 2px 2px rgba(207, 182, 182, 0.342);
}
.social {
  padding: 4px;
}

.social-wrapper > div {
  display: flex;
  margin-left: 2px;
  margin-right: auto;
  width: 100%;
}

.chapter {
  font-size: 22px;
  /* margin-bottom: 8px; */
  /* color: #000000; */
  /* color: var(--text-color); */
}

.list-items-subtitle {
  margin-top: 0.5rem;
  font-size: 1.2em;
  /* color: #ff6651; */
}

.bg-block {
  background-image: url("assets/pattern-randomized.svg");
  background-color: #242424;
}

.transparent-hero {
  /* filter: contrast(1); */
  overflow: hidden;
  object-fit: contain;
  position: relative;
  bottom: 0px;
  max-height: 60vh;
}
.container-hero {
  max-height: 50vh;
}

ul a {
  color: white;
  text-decoration: inherit;
  padding: 5px 2px 5px 2px;
  border-bottom: 3px solid white;
}
ul a:hover {
  border-bottom: 3px solid #ffcb39;
  color: #ffcb39;
}

.tag {
  background-color: #323232b2;
  color: aliceblue;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
}

.card-container img {
  background-color: dimgrey;
  min-width: 100%;
  max-height: 180px;
}
button,
.button-group a {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.4em 0.4em;
  font-weight: 500;
  background-color: var(--teks-primer);
  cursor: pointer;
  transition: border-color 0.25s;
  color: black;
}

/* disable all a tag withhout "href" tag inside button-group */
.button-group a:not([href]) {
  opacity: 50%;
  pointer-events: none;
}

select,
option {
  background-color: var(--bg-sekunder);
}
button:hover,
.custom-button:hover:not(.btn-disabled) {
  background-color: #c7a583;
  color: black;
  transform: scale(1.05);
  border: white 2px solid;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.line-break {
  display: block;
  line-height: 1em;
}

/* a:hover {
  color: #747bff;
} */

.FMT__container {
  @apply md:max-w-max;
}

.FMT__container svg {
  width: 42px;
  height: 42px;
  margin-block: 8px;
}

.markdown-content h1,
h2,
p {
  margin-block-start: 0.5em;
  margin-block-end: 0.25em;
}

.markdown-content h1,
h2 {
  color: var(--accent-color);
}
.markdown-content {
  @apply md:px-9;
  text-align: justify;
}
