@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url(assets/); */

@font-face {
  font-family: "Poppins";
  src: url("../poppins.woff2") format("woff");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "IBM Plex Sans";
  src: url("../public/IBMPlexSans-Bold.ttf") format("ttf");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "League Spartan";
  src: url("../public/LeagueSpartan-Bold.otf") format("otf");
  font-style: normal;
  font-weight: bold;
}

:root {
  --primary-color: #1a1a1a;
  --secondary-color: #3a3f47;
  --accent-color: #4fcca3;
  --text-color: #eeeeee;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  overflow-x: hidden;
}

.btn {
  background: linear-gradient(
    92.23deg,
    #ff56f6 21.43%,
    #b936ee 50.63%,
    #3bace2 100%,
    #1cbabe 117.04%
  );
}

.active {
  border-radius: 100%;
  background-color: #074764;
  color: aliceblue;
}
.navbar .active {
  /* clip-path: polygon(0px 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%); */
  border: #fff 1px;
  /* border-style: dashed; */
  border-radius: 0%;
}

a {
  color: aliceblue;
}

.polygons {
  clip-path: polygon(35px 0%, 0% 100%, 100% 100%, 100% 0%);
}

.bg-gradient {
  background: linear-gradient(
    92.23deg,
    #2b0329 21.43%,
    #320444 50.63%,
    #074764 100%,
    #033738 117.04%
  );
}

.bg-dark-primary {
  background-color: #202020;
  color: aliceblue;
}
.text-hero {
  font-size: 7vw;
  font-weight: bold;
}
.bg-dark-secondary {
  background-color: #171717;
}

.section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @apply py-16 lg:py-20 px-4 lg:h-screen flex items-center;
  /* background-color: #bbc2c5; */

  /* clip-path: polygon(0% 100%, 0% 0%, 100% 0%, 90% 100%); */
  /* background-clip: border-box; */
  /* border: 4em solid dimgray; */
}

.page-number {
  display: flex;
  position: absolute;
  top: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  right: 1rem;
  font-size: 4rem;
  background-color: #171717;
  border: 5px solid dimgray;
  color: dimgrey;
}

.text-gradient {
  background: radial-gradient(
      circle farthest-corner at center center,
      white,
      #837e7e
    )
    no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.background-clip-text {
  -webkit-text-fill-color: transparent;
  /* -webkit-background-clip: text; */
  background-clip: text;
  font-weight: bolder;
  color: red;
  /* text-shadow: 1px 1px 1px gainsboro; */
  -webkit-text-stroke: 1px rgb(201, 188, 188);
}

.bg-wave {
  max-width: 100%;
  min-width: 100%;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  width='100%' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.portfolio-items {
  margin-top: 1.75rem;
  padding-top: 1.75rem;
  padding-right: 1.75rem;
  padding-bottom: 40px;
  padding-left: 1.75rem;
  border-radius: 15px;
  outline: #323232 solid 1px;
  /* background: var(--secondary-color); */
  /* color: var(--accent-color); */
  box-shadow: 0px 50px 60px rgb(0 0 0 / 10%);
}

.chapter {
  font-size: 22px;
  /* margin-bottom: 8px; */
  font-weight: 800;
  /* color: #000000; */
  /* color: var(--text-color); */
  color: var(--accent-color);
}

.list-items-subtitle {
  /* margin-bottom: 15px; */
  font-size: 1.2em;
  color: #ff6651;
}

.bg-block {
  background-image: url("assets/pattern-randomized.svg");
  background-color: #242424;
}

.transparent-hero {
  /* filter: contrast(1); */
  overflow: hidden;
  object-fit: contain;
  position: relative;
  bottom: 0px;
  max-height: 60vh;
}
.container-hero {
  max-height: 50vh;
}
/* 
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */
/* 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
} */

.tag {
  background-color: #32323238;
  padding: 0.1rem 0.2rem;
  border-radius: 4px;
}

.card-container img {
  background-color: dimgrey;
  min-width: 100%;
  max-height: 100%;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/* 
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
| */
